/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

:root {
  --content-size: 50vw;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  background-color: var(--background-color);
  background-image: repeating-linear-gradient(
      to right,
      var(--background-gradient) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      var(--background-gradient) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      var(--background-gradient-start),
      var(--background-gradient-end)
    );
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wgth" var(--main-font-weight);
}

.image-1 {
  filter: brightness(110%) contrast(90%) saturate(120%) hue-rotate(50deg);
}

.image-2 {
  filter: sepia(10%) brightness(90%) contrast(130%) saturate(140%);
}

.image-3 {
  filter: brightness(130%) contrast(200%) hue-rotate(180deg);
}

.image-4 {
  filter: contrast(130%) brightness(100%) sepia(40%);
}

.image-5 {
  filter: brightness(80%) contrast(120%) saturate(190%) hue-rotate(180deg);
}

.image-6 {
  filter: contrast(120%) brightness(110%) saturate(80%) sepia(50%);
}

.image-7 {
  filter: contrast(120%) saturate(120%) hue-rotate(100deg) grayscale(80%);
}

.image-8 {
  filter: contrast(160%) brightness(90%) saturate(120%) hue-rotate(180deg);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background-color: var(--background-color);
  border: 2px solid var(--accent-color);

  inline-size: var(--content-size);
  block-size: 360px;
  margin: 100px auto;

  font-family: "Press Start 2P", sans-serif;
  color: var(--accent-color);
}

.header-section {
  text-align: center;
}

.header__subtitle {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu {
  align-self: center;
  margin-block-start: 25px;
  margin-block-end: 25px;
}

.theme-menu__item:nth-child(2) {
  margin-block-start: 14px;
  margin-block-end: 14px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity ease 0.3s;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  margin-top: 0px;
  opacity: 0.6;
  transition: width ease 0.3s;
}

.theme-menu__button:focus::after {
  width: 100%;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 0.6;
  pointer-events: none;
}

.theme-dark .theme-menu__button:disabled {
  color: var(--accent-color);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
}

.post {
  font-family: "Inter", sans-serif;
  color: var(--accent-color);
}

.post__item {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);

  inline-size: var(--content-size);
  margin: 0 auto;
  padding-block-end: 37.5px;
}

.post__item:not(:last-child) {
  margin-block-end: 50px;
}

.post__title {
  font-variation-settings: "wght" 700;
  font-size: 18px;
  line-height: 22px;

  border-bottom: 2px solid var(--accent-color);

  padding-inline-start: 10px;
  padding-block-start: 3px;
  padding-block-end: 3px;
}

.post__image-container {
  position: relative;
}

.post__caption {
  position: absolute;
  mix-blend-mode: hard-light;
  font-size: 14px;
  font-family: var(--accent-font);
  opacity: 0.5;
  top: 25px;
  right: 25px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  z-index: 2;
}

.post__image {
  aspect-ratio: 1/1;
  width: 100%;
  border: none;
  object-fit: cover;
  object-position: center;
}

.post-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  padding-block-start: 25px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.card__like-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 25px 25px 0;
  align-items: center;
}

.card__icon-button {
  display: flex;
  border: none;
  background: none;
  height: 38px;
  margin-right: 4px;
  padding: 0;
  outline: none;
}

.like-icon__main-body {
  fill: var(--background-color);
}

.like-icon:hover .like-icon__main-body {
  transition: fill linear 0.3s 0.05s;
  fill: var(--accent-color);
}

.like-icon__core {
  transition: fill linear 0.3s 0.03s;
  fill: var(--background-color);
}

.like-icon:hover .like-icon__core {
  transition: fill linear 0.3s;
  fill: var(--accent-color);
}

.like-icon .like-icon__core {
  fill: var(--background-color);
}

.like-icon:active .like-icon__main-body {
  transition: fill linear 0.3s;
  fill: var(--heart-color);
}

.like-icon:active .like-icon__core {
  transition: fill linear 0.3s;
  fill: var(--heart-color);
}

.like-icon.is-liked .like-icon__core {
  transition: fill linear 0.3s;
  fill: var(--heart-color);
}

.like-icon.is-liked .like-icon__main-body {
  transition: fill linear 0.3s;
  fill: var(--heart-color);
}

.like-icon.is-liked .like-icon__contour {
  transition: fill linear 0.3s 0.06s;
  fill: var(--heart-color);
}

.like-icon__sparks {
  opacity: 0;
}

.like-icon {
  align-self: center;
}

.like-icon:focus {
  outline: none;
}

.like-icon:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  width: 130px;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 12.6px;

  color: var(--inversion-color);
  mix-blend-mode: difference;
  text-align: center;
  position: relative;

  transition: color ease 1s;
}

.button__text:hover {
  color: #ffffff;
}

.card__like-button:focus {
  outline: 0;
  box-shadow: 2px 2px 0 #000000;
  transition: box-shadow ease 0.3s;
}

.floppy-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 52px auto 102px auto;
  position: relative;

  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
}

.floppy-icon {
  width: 39px;
  height: 39px;

  color: black;
}

.card__like-button,
.floppy__button,
.close-button {
  overflow: hidden;
  position: relative;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  outline: none;
}

.floppy__button {
  padding: 18.5px 21px 18.5px 19px;
  max-width: 360px;
}

.floppy__button::before,
.card__like-button::before,
.close-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-hover);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.floppy__button:hover,
.card__like-button:hover {
  color: var(--button-hover);
}

.floppy__button:hover .floppy-text {
  color: #ffffff;
  transition: color ease 1s;
}

.floppy__button:hover .floppy {
  fill: #ffffff;
  transition: fill ease 1s;
}

.floppy__button:hover::before,
.card__like-button:hover::before,
.close-button:hover::before {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.floppy-text {
  position: relative;
  z-index: 1;
  color: var(--accent-color);
}

.floppy__button:focus {
  outline: 0;
  box-shadow: 2px 2px 0 #000000;
  transition: box-shadow ease 0.3s;
}

.dialog {
  background-color: var(--background-color);
  font-family: var(--accent-font);
  color: var(--text-color);
  padding: 31px 30px;
  border: 2px solid var(--text-color);
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.dialog_text-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dialog_text {
  line-height: 150%;
  text-transform: uppercase;
  max-width: 230px;
}

.dialog-floppy-image {
  inline-size: 39px;
  block-size: 39px;
  mix-blend-mode: normal;
}

.dialog::backdrop {
  opacity: 0.75;
  background: var(--background-color);
}

.close-button {
  position: relative;
  width: 100%;
  padding: 7px;
  overflow: hidden;
  text-transform: uppercase;
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .wrapper-image {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

@media (max-width: 640px) {
  :root {
    --content-size: 100vw;
  }

  .floppy__button {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .floppy__button svg {
    margin: 0 auto;
  }

  .dialog {
    padding: 32px 38px;
  }
  .dialog-container {
    gap: 28px;
  }
  .dialog_text {
    max-width: 198px;
  }
}
